body {
  background-color: #FFF1DB;
}

.image-circle {
  border-radius: 50%;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: #fff8ee;
  padding: 20px 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

#main-card {
  padding-bottom: 50px;
}
h1 {
  font-family: "Bodoni Moda SC", serif;
  font-weight: 500;
  color: #EF5A6F;
  font-size: 50px;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  color: #536493;
  font-size: 25px;
}

p {
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  line-height: 20px;
  color: #a5958a;
}

.button-pink {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: large;
  background-color: #EF5A6F;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
}

.button-pink:hover {
  background-color: #536493;
  cursor: pointer;
}

#introduction {
  margin-bottom: 40px;
}

i {
  color: #edabb4;
  font-size: 43px;
}

i:hover {
  color: #ef5a6e;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
